body {
  margin: 0px;
  background-color: #f4f4f4; }

.container, #settings-area-container {
  width: 1080px;
  margin-left: auto;
  margin-right: auto; }

#settings-area-container {
  width: 1080px; }

.title {
  background-color: #d7005b;
  height: 40px;
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif; }

.label-text {
  font-size: 18px;
  font-family: 'Roboto', sans-serif; }

#add-room-section {
  text-align: center; }

#room-io-section {
  text-align: center;
  margin: auto; }

.io-title {
  background-color: #d7005b;
  color: white;
  text-align: center;
  font-size: 24px;
  font-family: 'Roboto', sans-serif; }

#in-form {
  margin: 25px;
  display: inline-block;
  text-align: left;
  vertical-align: middle; }

#out-form {
  margin: 25px;
  display: inline-block;
  text-align: left;
  vertical-align: middle; }

#in-out-table {
  margin: 25px;
  border: 1px solid black;
  display: inline-block;
  vertical-align: middle;
  font-family: 'Roboto', sans-serif; }

.io-submit {
  text-align: center; }

#modify-room-section {
  text-align: center;
  margin: auto; }

#modify-kinect-section {
  text-align: center;
  margin: auto; }

.mod-container {
  display: inline-block;
  text-align: left; }

input[type=submit] {
  background-color: #0068b5;
  color: white;
  border-width: 0px;
  box-sizing: 100px;
  width: 185px;
  height: 30px;
  font-size: 20px; }
  input[type=submit]:hover {
    background-color: #33a7ff;
    cursor: pointer; }

.opt-box {
  font-size: 18px;
  font-family: 'Roboto', sans-serif; }

.text-in {
  font-size: 18px;
  font-family: 'Roboto', sans-serif; }

td, th {
  padding: 10px;
  width: 80px;
  word-break: break-all; }

/*# sourceMappingURL=settingsArea.css.map */
