<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>

    <script th:src="@{/js/header/export.js}"></script>

        <div th:fragment="logo-banner" id=logo-banner>

            <div id=museum-logo-container class=logo-holder >
                <img id=museum-logo th:src="@{/images/general/bristol_museum.jpg}">
            </div>

            <div id=county-logo-container class=logo-holder>
                <img id=county-logo th:src="@{/images/general/county.png}">
            </div>
        </div>


        <div th:fragment="nav-bar" id=nav-bar-background class=nav-bar>
            <div id=nav-button-container class=nav-bar>
                <a class="nav-bar-button nav-bar" id=chart-button href=chart.html th:href="@{chart}">
                    <div class=button-text> Chart </div>
                </a>

                <a class="nav-bar-button nav-bar" id=settings-button href=settings.html th:href="@{settings}">
                    <div class=button-text> Settings </div>
                </a>

                <a class="nav-bar-button nav-bar" id=help-button href=help.html th:href="@{help}">
                    <div class=button-text> Help </div>
                </a>

                <a id=export-button class="nav-bar-button nav-bar"  th:href="@{/download/Csv}">
                    <div class=button-text> Export </div>
                </a>

            </div>
        </div>

    </body>

</html>