body {
  margin: 0px;
  background-color: #f4f4f4; }

.container {
  width: 1080px;
  margin-left: auto;
  margin-right: auto; }

/*LOGO BANNER*/
#logo-banner {
  width: 1080px;
  height: 174px;
  margin-right: auto;
  margin-left: auto; }

#museum-logo {
  /*@include logo-holder($museum-logo-location);*/
  height: 169px;
  width: 224px; }

#county-logo {
  /*@include logo-holder($county-logo-location);*/
  height: 169px;
  margin-top: 2px;
  width: 169px; }

.logo-holder, #museum-logo-container, #county-logo-container {
  height: 174px; }

#museum-logo-container {
  background-color: #d7005b;
  float: left; }

#county-logo-container {
  float: right; }

/*NAVIGATION BAR*/
.nav-bar, .nav-bar-button {
  background-color: #d7005b;
  height: 40px; }

#nav-bar-background {
  width: 100%; }

#nav-button-container {
  width: 1080px;
  margin-right: auto;
  margin-left: auto;
  position: relative; }

.nav-bar-button {
  width: 154.2857142857px;
  float: left;
  text-align: center;
  transition: background-color 0.2s; }
  .nav-bar-button:hover {
    background-color: #ff3388; }

.button-text {
  top: 20%;
  bottom: 25%;
  width: 154.2857142857px;
  position: absolute;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 130%; }

#export-button {
  background-color: #5a505c;
  float: right;
  cursor: pointer;
  transition: background-color 0.2s; }
  #export-button:hover {
    background-color: #928494; }

/*# sourceMappingURL=header.css.map */
