@import "../houseStyle.scss";

$museum-logo-location: '../../media/images/general/bristol_museum.jpg';
$county-logo-location: '../../media/images/general/county.png';

/*LOGO BANNER*/
@mixin logo-holder($logo) {
	content: url(#{$logo});
	height: (338px)/2;
}

#logo-banner {
	width: $page-width;  
	height: (348px)/2;
	margin-right: auto;
	margin-left: auto;
}

#museum-logo {
	/*@include logo-holder($museum-logo-location);*/
	height: (338px)/2;
	width: (448px)/2;    
}

#county-logo {
	/*@include logo-holder($county-logo-location);*/
	height: (338px)/2;
	margin-top: 2px;
	width: (338px)/2;
}

.logo-holder {
	height: (348px)/2;
}

#museum-logo-container {
	@extend .logo-holder;
	background-color: $bristol-museum-pink;
	float: left;
}

#county-logo-container {
	@extend .logo-holder;
	float: right;
}


/*NAVIGATION BAR*/
.nav-bar {
	background-color: $bristol-museum-pink;
	height: $nav-bar-height;
}

#nav-bar-background {
	width: 100%;
}

#nav-button-container {
	width: $page-width;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

.nav-bar-button {
	@extend .nav-bar;
	width: ($page-width)/($number-of-rooms + 2);
	float: left;
	text-align: center;
	transition: background-color 0.2s;
	&:hover {
		background-color: rgba(255, 51, 136, 1);
	}
}

.button-text {
	top: 20%;
	bottom: 25%;
	width: ($page-width)/7;
	position: absolute;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 130%;
}

#export-button {
	background-color: rgba(90, 80, 92, 1);
	float: right;
	cursor: pointer;
	transition: background-color 0.2s;
	&:hover {
		background-color: rgba(146, 132, 148, 1);
	}
}


