body {
  margin: 0px;
  background-color: #f4f4f4; }

.container {
  width: 1080px;
  margin-left: auto;
  margin-right: auto; }

#help-button {
  background-color: #ff3388; }

/*# sourceMappingURL=help.css.map */
