@import "../../houseStyle.scss";

#help-button {
	background-color: rgba(255, 51, 136, 1);
}

//#helpArea {
//	height: 600px;
//}
//
//#image-container {
//	width: $page-width;
//	height: 350px;
//}
//
//#kinect-sensor {
//	width: $page-width;
//	padding-top: 2%;
//}

