@import "../houseStyle";

#help-area-container{
  @extend .container;
  width: $page-width;
  text-align:center;
}

.title{
  background-color: $bristol-museum-pink;
  height: 40px;
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

#nav{
  text-align:left;
  //margin: 50px;
}

.section-text-area{
  width: ($page-width - 80);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: left;
  display: inline-block;
}

.image-container{
  text-align:center;
  //display:inline-block;
}

#simple-two-rooms{
  height: 280px;
  width: 467px;
}
#simple-two-rooms-actual{
  height: 280px;
  width: 467px;
}
#room-to-world{
  height: 280px;
  width: 389px;
}
#complex-setup{
  height: 400px;
  width: 671px;
}