body {
  margin: 0px;
  background-color: #f4f4f4; }

.container, #help-area-container {
  width: 1080px;
  margin-left: auto;
  margin-right: auto; }

#help-area-container {
  width: 1080px;
  text-align: center; }

.title {
  background-color: #d7005b;
  height: 40px;
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif; }

#nav {
  text-align: left; }

.section-text-area {
  width: 1000px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: left;
  display: inline-block; }

.image-container {
  text-align: center; }

#simple-two-rooms {
  height: 280px;
  width: 467px; }

#simple-two-rooms-actual {
  height: 280px;
  width: 467px; }

#room-to-world {
  height: 280px;
  width: 389px; }

#complex-setup {
  height: 400px;
  width: 671px; }

/*# sourceMappingURL=helpArea.css.map */
