@import "../houseStyle";

$button-blue: rgba(0, 104, 181, 1);

/*TIME SELECTING BUTTONS*/
#room-slider-container {
    margin-top: 25px;
    margin-bottom: 15px;
	width: $page-width;
    margin-left: auto;
    margin-right: auto;
}

#room-slider {
    -webkit-appearance: none;
    appearance: none;
    width: ((3 * $page-width) / 4);
    height: 25px;
    border-radius: 20px;
    outline: none;
    background: rgba(211, 211, 211, 0.7);
    margin-left: 12.5%;
}

#room-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $button-blue;
    cursor: pointer;
    transition: background 0.2s;
    &:hover {
        background: rgba(51, 167, 255, 1);
    }
}

#room-slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $button-blue;
    cursor: pointer;
}

/*MAIN CHART AREA*/
#main-chart-container {
	@extend .container;
	height: 540px;
}

/*CHART CONTROL BUTTONS*/

.jump-button {
	position: relative;
	border-radius: 50%;
	height: 60px;
	width: 60px;
	text-align: center;
	&:hover {
		cursor: pointer;
	}
}

#left-button {
	float: left;
	margin-left: 8%;
	transition: background-color 0.2s;
    &:hover #lower-line-left-arrow {
        background-color: rgba(51, 167, 255, 1);
    }
    &:hover #upper-line-left-arrow {
        background-color: rgba(51, 167, 255, 1);
    }
}

#right-button {
	float: left;
	margin-left: 12%;
	transition: background-color 0.2s;
    &:hover #lower-line-right-arrow {
        background-color: rgba(51, 167, 255, 1);
    }
    &:hover #upper-line-right-arrow {
       background-color: rgba(51, 167, 255, 1);
    }
}

#compare-button {
	width: ($page-width)/(7);
	float: left;
	margin-left: 28%;
}

.idpoint {
    height: 5px;
    width: 5px;
    margin-top: 10%;
    margin-left: 10%;
    color: red;
    border-radius: 50%;
}

.arrow-line {
	height: 13%;
	width: 80%;
	border-radius:7%/50%;
	background-color: $button-blue;
	-webkit-transition: transform 0.5s;
	transition: transform 0.5;
}

#upper-line-left-arrow {
	margin-top: 27%;
	margin-left: 6%;
	transform: rotate(-33deg);
	transition: background-color 0.2s;
}

#lower-line-left-arrow {
	margin-top: 25%;
	margin-left: 5%;
	transform: rotate(33deg);
	transition: background-color 0.2s;
}

#upper-line-right-arrow {
	margin-top: 24%;
	margin-left: 10%;
	transform: rotate(-33deg);
	transition: background-color 0.2s;
}

#lower-line-right-arrow {
	margin-top: 26%;
	margin-left: 10%;
	transform: rotate(33deg);
	transition: background-color 0.2s;
}

/*LIST OF ROOMS*/
.room-name-title2 {
	margin-left: 11%;
}

.date-title2 {
	margin-left: 3%;
}

.child-title2 {
	margin-left: 3%;
}

.adult-title2 {
	margin-left: 3%;
}

.room-name-title {
	margin-left: 24.5%;
}

.date-title {
	margin-left: 3%;
}

.child-title {
	margin-left: 3%;
}

.adult-title {
	margin-left: 3%;
}

/*LOR TITLES*/
#lor-titles {
	width: $page-width;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	overflow: hidden;
}

.lor-title {
	position: relative;
	background-color: $bristol-museum-pink;
	height: 30px;
	width: 120px;
	float: left;
	text-align: center;
	margin-top: 15px;
}

.title-text-lor {
	top: 20%;
	bottom: 25%;
	width: 120px;
	position: absolute;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 100%;
}

/*LOR LIST ROOMS*/
#list-of-rooms {
    overflow: hidden;
}

#lor-rooms {
	width: $page-width;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	overflow: hidden;
}

.list-container {
    width: 1080px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    overflow: hidden;
}

.lor-list {
	position: relative;
	background-color: none;
	height: 30px;
	width: 120px;
	float: left;
	text-align: center;
}

.list-text-lor {
	top: 20%;
	bottom: 25%;
	width: 120px;
	position: absolute;
	color: black;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 100%;
}

.remove-button {
	background-color: rgba(238, 0, 0, 1);
	height: 30px;
	width: 80px;
	text-align: center;
	margin-left: 2%;
	transition: background-color 0.2s;
	&:hover {
		background-color: rgba(255, 51, 51, 1);
		cursor: pointer;
	}
}

.remove-text {
    color: white;
    width: 80px;
    margin-left: 1%;
}

/*LOR ADDER*/
#lor-adder {
	width: $page-width;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

#lor-form {
	height: 40px;
	font-family: 'Roboto', sans-serif;
}

#room-dropper {
	margin-left: 24.5%;
	margin-top: 0.9%;
}

#date-picker {
	margin-left: 1%;
}

#child-box {
	margin-left: 4.5%;
}

#adult-box {
	margin-left: 9%;
}

#add-button {
	position: relative;
	background-color: $button-blue;
	height: 30px;
	width: 60px;
	float: right;
	text-align: center;
	margin-right: 13.6%;
	transition: background-color 0.2s;
	&:hover {
		background-color: rgba(51, 167, 255, 1);
		cursor: pointer;
	}
}

#add-button-text {
	top: 20%;
	bottom: 25%;
	width: 60px;
	position: absolute;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 100%;
}

/*SECONDARY CHARTS*/
#secondary-chart-container {
	/*@extend .container;*/
	width: $page-width;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	height: ($page-width)/2 + (0.1*$page-width);
}

#secondary-right-chart-container {
	position: relative;
	float: left;
	width: ($page-width)/2.3;
	padding-right: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
}

#secondary-left-chart-container {
	position: relative;
	float: right;
	width: ($page-width)/2.3;
	padding-left: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
}

#bottom-spacer {
	@extend .container;
	height: 50px;
}


/*THIRD CHART*/