@import "../houseStyle";

#bottom {
	@extend .container;
	height: 100px;
	border-top-width: 3px;
	border-top-style: solid;
	border-color: rgba(187, 187, 187, 1);
}

#name-text {
    margin-top: 1%;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: rgba(0, 0, 0, 0.6);
}