body {
  margin: 0px;
  background-color: #f4f4f4; }

.container, #bottom {
  width: 1080px;
  margin-left: auto;
  margin-right: auto; }

#bottom {
  height: 100px;
  border-top-width: 3px;
  border-top-style: solid;
  border-color: #bbbbbb; }

#name-text {
  margin-top: 1%;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  color: rgba(0, 0, 0, 0.6); }

/*# sourceMappingURL=footer.css.map */
