$background-white: rgba(244, 244, 244, 1);
$bristol-museum-pink: rgba(215, 0, 91 ,1);
$page-width: 1080px;
$nav-bar-height: 40px;
$number-of-rooms: 5;

body {
	margin: 0px;
	background-color: $background-white;
}

.container {
	width: $page-width;
	margin-left: auto;
	margin-right: auto;
}